<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
        <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Form Registrasi Petugas</strong>
      </h2>
    </div>

    <form class="list-form" [formGroup]="form">
        <ion-item *ngFor="let form of formInstance; let i=index">
            <ion-label floating>
                <ion-icon [name]="form.icon" item-start class="text-primary"></ion-icon>
                {{form.label}}
            </ion-label>
            <ion-input [type]="form.type" [formControlName]="form.formCName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                Tanggal Lahir
            </ion-label>
            <ion-datetime displayFormat="DD/MMMM/YYYY" formControlName="birth"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="card" item-start class="text-primary"></ion-icon>
                Alamat
            </ion-label>
            <ion-textarea formControlName="address">{{form.role}}</ion-textarea>
        </ion-item>
        
        
        <button *ngIf="!id" ion-button icon-start block color="danger" tappable (click)="post_user()" [disabled]="!form.valid"><ion-icon name="send"></ion-icon>
      Simpan</button>
        <button *ngIf="id" ion-button icon-start block color="danger" tappable (click)="post_user()"><ion-icon name="send"></ion-icon>
      Simpan</button>
    </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">Saya Sudah Punya Akun</span>
    </div>

  </div>
</ion-content>
