<!-- -->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>
      <span ion-text>{{ trip.name }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">
  <!--slides-->
  <ion-slides class="to-top" pager>
    <ion-slide *ngFor="let image of trip.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides>

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <div class="text-sm">
          <div>
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text color="light">{{ trip.time }}</span>
            <ion-icon name="checkbox-outline" margin-left class="text-white" *ngIf="trip.free_cancellation"></ion-icon>
            <span ion-text color="light" *ngIf="trip.free_cancellation">Free cancellation</span>
            <ion-icon name="list-box" margin-left class="text-white" *ngIf="trip.electric_voucher"></ion-icon>
            <span ion-text color="light" *ngIf="trip.electric_voucher">Electronic voucher</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--high light-->
  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">HIGHLIGHT</span>
    <ul class="highlight">
      <li *ngFor="let highlight of trip.highlights">
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ highlight }}</span>
      </li>
    </ul>
  </div>

  <!--booking form-->
  <div class="booking-form card round" margin>
    <div class="border-bottom" padding>
      <h5>{{ trip.sub_name }}</h5>

      <!--choose guest-->
      <ion-grid class="filters" no-padding margin-top>
        <ion-row>
          <ion-col class="adult" width-70>
            <span ion-text color="primary"><strong>{{ trip.price_adult | currency:'USD':true }}</strong> Adults</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusAdult()" [hidden]="adults < 2"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ adults }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusAdult()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row margin-top>
          <ion-col width-70>
            <span ion-text color="primary"><strong>{{ trip.price_child | currency:'USD':true }}</strong> Child (0-12 years)</span>
          </ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusChildren()" [hidden]="children < 1"
                      color="secondary"></ion-icon>
          </ion-col>
          <ion-col width-10 text-center>{{ children }}</ion-col>
          <ion-col width-10 text-center>
            <ion-icon name="add-circle" class="text-2x" tappable (click)="plusChildren()" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div padding class="form-bottom">
<!--       <span ion-text color="dark" class="bold">{{ adults }} Adults</span> -->
      <!--booking button-->
      <button ion-button class="pull-right" color="secondary" tappable (click)="checkout()">Book Now {{ adults * trip.price_adult +
        children * trip.price_child | currency:'USD':true }}
      </button>
      <div class="clear"></div>
    </div>
  </div>

  <!--description-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">DESCRIPTION</span>
    <p ion-text>{{ trip.description }}</p>
  </div>

  <!--address-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">LOCATION</span>
    <p ion-text>{{ trip.location }}</p>
  </div>
</ion-content>
