<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button secondary tappable (click)="canEdit(true)" *ngIf="!edit">
                <ion-icon name="checkmark-circle"></ion-icon> Edit
            </button>
            <button ion-button danger tappable (click)="canEdit(false)" *ngIf="edit">
                <ion-icon name="close-circle"></ion-icon> Cancel
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg"> 

    <form class="list-form" [formGroup]="form">
        <ion-item *ngFor="let form of formInstance; let i=index">
            <ion-label floating>
                <ion-icon [name]="form.icon" item-start class="text-primary"></ion-icon>
                {{form.label}}
            </ion-label>
            <ion-input [type]="form.type" [formControlName]="form.formCName" [disabled]="!edit"></ion-input>
        </ion-item>

        <button ion-button icon-start block color="danger" tappable (click)="post_user()" *ngIf="edit"><ion-icon name="send"></ion-icon>
      Ubah</button>
    </form>

</ion-content>