<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    
    <ion-card *ngFor="let kriteria of kriteriaNilai">
        <ion-card-header>
            {{kriteria.nama_kriteria}}
        </ion-card-header>
        
        <ion-item>
            <ion-range min="1" [max]="kriteria.max_range" pin="true" [(ngModel)]="push[kriteria.const_kriteria]" (ionChange)="valueMean($event, kriteria)" color="secondary">
                <ion-icon range-left name="sad"></ion-icon>
                <ion-icon range-right name="happy"></ion-icon>
            </ion-range>
        </ion-item>

        <ion-card-content>
            <p>{{kriteria.default}}</p>
        </ion-card-content>
    </ion-card>
    <button ion-button icon-start block color="secondary" tappable (click)="post_nilai()"><ion-icon name="log-in"></ion-icon>
      Simpan</button>

</ion-content>