<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
        <!-- <ion-buttons end>
            <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="person"></ion-icon>
      </button>
            <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">

    <ion-card>
        <ion-card-content>
            <label><i>Selamat Datang User</i></label>
            <ion-card-title>
                <h1>{{nama}}</h1>
            </ion-card-title>

        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="role == 1">

        <ion-card-content>
            <label><i>Menu</i></label>
        </ion-card-content>

        <ion-item (click)="goToUser()">
            <ion-icon name='person' item-start style="color: #d03e84"></ion-icon>
            Users
            <ion-badge item-end>{{user}}</ion-badge>
        </ion-item>

        <ion-item (click)="goToNilai()">
            <ion-icon name='stats' item-start style="color: #55acee"></ion-icon>
            Penilaian
            <ion-badge item-end>{{nilai}}</ion-badge>
        </ion-item>

    </ion-card>
    <ion-card *ngIf="role==1">
        <ion-card-content>
            <label><i>Petugas yang sudah di nilai bulan ini</i></label>
        </ion-card-content>
        <ion-item (click)="goToNilai()">
            
            <ion-badge block>{{nilai}} / {{officer}} Petugas</ion-badge>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="role==2">

        <ion-card-content>
            <label><i>Penilaian Anda Bulan Ini</i></label>
        </ion-card-content>

        <ion-item (click)="goToNilaiOfMonth()">
            <h1>{{nilai}}</h1>
            <!-- <ion-icon name='person' item-start style="color: #d03e84"></ion-icon>
            Users
            <ion-badge item-end>{{user}}</ion-badge> -->
        </ion-item>

    </ion-card>

</ion-content>