<ion-menu side="left" id="authenticated" [content]="content">
  
  <ion-content color="primary">

    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" (click)="openPage('HomePage')">
        <ion-icon item-left name="home" color="primary"></ion-icon>
        <span ion-text color="primary">Home</span>
      </button>
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{menuItem.menu}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="logout()">
        <ion-icon item-left name="log-out" color="primary"></ion-icon>
        <span ion-text color="primary">Log Out</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

