<!-- -->
<!-- <ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <ion-title>
      <ion-icon name="person" class="text-primary"></ion-icon>
      <span class="text-primary">{{user.nama}}</span>
    </ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      <ion-icon name="person" class="text-primary"></ion-icon>
      <span>{{user.nama}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  
  <ion-grid class="card" padding>
    <ion-row>
      <ion-col width-50 offset-25>
        <!-- <h2 class="location text-dark"></h2>
        <div class="icon"><img src="" alt="weather"></div>
        <h3 class="desc"></h3> -->
        <h1 class="temp" text-center>Data User</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <div text-left>
              <strong>Nama: {{user.nama}}</strong> 
            </div>
          </ion-item>
          <ion-item>
            <div text-left>
              <strong>TTL: {{user.tgl_lahir}}</strong>
            </div>
          </ion-item>
          <ion-item>
            <div text-left>
              <strong>NIK: {{user.nik}}</strong> 
            </div>
          </ion-item>
          <ion-item>
            <div text-left>
              <strong>Alamat: {{user.alamat}}</strong> 
            </div>
          </ion-item>
          <ion-item>
            <div text-left>
              <strong>telp: {{user.telp}}</strong> 
            </div>
          </ion-item>
          <ion-item>
            <button *ngIf="user.is_active == '0'" ion-button color="light" (click)="doConfirm(user.user_id,'approveUser')">Approve</button>
            <button ion-button color="secondary" text-center tappable (click)="editUser(user.user_id)"><ion-icon name="construct"></ion-icon> Edit
            </button>
            <button ion-button color="danger" (click)="doConfirm(user.user_id, 'hapusUser')">Hapus</button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
