<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    
    <form class="list-form" [formGroup]="form">
        <ion-item *ngFor="let form of formInstance; let i=index">
            <ion-label floating>
                <ion-icon [name]="form.icon" item-start class="text-primary"></ion-icon>
                {{form.label}}
            </ion-label>
            <ion-input [type]="form.type" [formControlName]="form.formCName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                Tanggal Lahir
            </ion-label>
            <ion-datetime displayFormat="DD/MMMM/YYYY" formControlName="birth"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="card" item-start class="text-primary"></ion-icon>
                Alamat
            </ion-label>
            <ion-textarea formControlName="address">{{form.role}}</ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="people" item-start class="text-primary"></ion-icon>
                Jabatan pada aplikasi
            </ion-label>
            <ion-select formControlName="role" (ionChange)="checkRole()">
                <ion-option value="4">Pimpinan</ion-option>
                <ion-option value="3">Staff</ion-option>
                <ion-option value="2">Petugas</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="(id && id == 2) || (role && role == 2)">
            <ion-label>
                <ion-icon name="people" item-start class="text-primary"></ion-icon>
                Staf Penilai
            </ion-label>
            <ion-select formControlName="disposisi">
                <div *ngFor="let staff of dataStaff">
                    <ion-option value="{{staff.user_id}}">{{staff.nama}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        
        <button *ngIf="!id" ion-button icon-start block color="danger" tappable (click)="post_user()" [disabled]="!form.valid"><ion-icon name="send"></ion-icon>
      Simpan</button>
        <button *ngIf="id" ion-button icon-start block color="danger" tappable (click)="post_user()"><ion-icon name="send"></ion-icon>
      Simpan</button>
    </form>
    
</ion-content>