<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button tappable (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<!-- button -->
<!-- <ion-fab right bottom #fab2>
    <button ion-fab color="light"><ion-icon name="menu"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab (click)="goToForm()"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
</ion-fab> -->

<ion-content padding class="common-bg">
    <ion-list>
        <ion-card>
            <ion-item>
                <ion-icon name="search" item-start class="text-primary"></ion-icon>
                <ion-input type="search" [(ngModel)]="q" (ionChange)="searchTerm()" ></ion-input>
            </ion-item>
        </ion-card>
        <ion-card no-margin margin-bottom class="full-width" *ngFor="let user of userList" (click)="goToView(user.user_id)">
            <ion-item>
                <!-- <ion-icon name="person"></ion-icon> -->
                
                <h2>{{user.nama}}</h2>
                <small>
                    <ion-badge block>{{user.nama_jabatan}}</ion-badge>
                    <ion-badge color="{{(user.is_active == '1') ? 'secondary' : 'danger'}}">{{(user.is_active == '1') ? 'Approve' : 'Belum di Approve'}}</ion-badge>
                </small>
                <br>
                <label>
                    <small>{{user.nik}}</small>
                </label>
                <p>Contact Person : {{user.telp}}</p>
                <button ion-button clear tappable item-end>Lihat</button>
            </ion-item>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
   
</ion-content>