<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
        <!-- <ion-buttons end>
            <button ion-button tappable (click)="presentNotifications($event)">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    <ion-card>
        <ion-item>
            <ion-label floating>
                <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                Pilih Bulan Penilaian
            </ion-label>
            <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="date_nilai"></ion-datetime>
        </ion-item>
    </ion-card>
    
    <button ion-button icon-start block color="secondary" tappable (click)="getFormKriteria()">
        Lanjut 
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

</ion-content>