page-choose-date,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;
    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }
    ion-datetime {
      padding-left: 0;
    }
  }
  ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }
  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }
}

