<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    <ion-card>
        <ion-item>
            <ion-label floating>
                <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                Pilih Bulan
            </ion-label>
            <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="post.date_nilai"></ion-datetime>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label floating>
                <ion-icon name="star" item-start class="text-primary"></ion-icon>
                Skala Penilaian
            </ion-label>
            <ion-select [(ngModel)]="post.skala" multiple="true" cancelText="Cancel" okText="Pilih">
              <ion-option value="1">1-5 (Sangat Buruk)</ion-option>
              <ion-option value="2">6-10 (Buruk)</ion-option>
              <ion-option value="3">11-15 (Cukup)</ion-option>
              <ion-option value="4">16-20 (Baik)</ion-option>
              <ion-option value="5">21-25 (Sangat Baik)</ion-option>
            </ion-select>
          </ion-item>
    </ion-card>

    <button ion-button icon-start block color="secondary" tappable (click)="getListEvaluation()">
        Lanjut 
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

</ion-content>