<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">

    <ion-list>    
        <ion-card>
            <ion-item>
                <ion-icon name="search" item-start class="text-primary"></ion-icon>
                <ion-input type="search" [(ngModel)]="q" (ionChange)="searchTerm()"></ion-input>
            </ion-item>
        </ion-card>
        <ion-card no-margin margin-bottom class="full-width" *ngFor="let user of officerList" (click)="goToForm(user.user_id)">
            <ion-item>
                <h2><strong>{{user.nama}}</strong></h2>
                <h3>{{user.nik}}</h3>
                <h5>Contact Person: {{user.telp}}</h5>
                <span><ion-icon name="pie"></ion-icon> <small>Penilaian Bulan ini: </small><strong>{{(user.total)?user.total:'-'}}</strong></span>
                <h5><ion-icon name="person"></ion-icon> <small>Penilai: </small><strong>{{(user.nama_staff)?user.nama_staff:'-'}}</strong></h5>
                <button ion-button clear item-end>{{(user.total)?'Ubah Nilai':'Beri Nilai'}}</button>
            </ion-item>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>