<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{detail.nama}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    <ion-card>
        <ion-card-content>
            <label>Penilaian Bulan {{month}}</label>
        </ion-card-content>
        <ion-item (click)="toggleGroup(1)" [ngClass]="{active : isGroupShown(1)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Keselamatan Kerja
            <ion-badge item-end>{{detail.K3}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(1)" text-wrap>
            <p><small>{{detail.K3_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(2)" [ngClass]="{active : isGroupShown(2)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Disiplin
            <ion-badge item-end>{{detail.DIS}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(2)" text-wrap>
            <p><small>{{detail.DIS_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(3)" [ngClass]="{active : isGroupShown(3)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(3) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Produktifitas Kerja
            <ion-badge item-end>{{detail.PRK}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(3)" text-wrap>
            <p><small>{{detail.PRK_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(4)" [ngClass]="{active : isGroupShown(4)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(4) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Kerjasama Tim
            <ion-badge item-end>{{detail.TMW}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(4)" text-wrap>
            <p><small>{{detail.TMW_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(5)" [ngClass]="{active : isGroupShown(5)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(5) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Etika/Perilaku
            <ion-badge item-end>{{detail.ATT}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(5)" text-wrap>
            <p><small>{{detail.ATT_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(0)" [ngClass]="{active : isGroupShown(0)}">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(0) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            <strong>Total</strong>
            <ion-badge item-end>{{detail.total}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(0)" text-wrap>
            <p><small>{{detail.total_ket}}</small></p>
        </ion-item>

    </ion-card>

</ion-content>