<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{detail.nama}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    <ion-card *ngFor="let item of detail; let i = index">
        <ion-card-content>
            <h2>Penilai : {{item.nama_staff}}</h2>
            <label>Penilaian Bulan {{item.month}}</label>
        </ion-card-content>
        <ion-item title="test" (click)="toggleGroup(i+'1')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'1') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Keselamatan Kerja
            <ion-badge item-end>{{item.K3}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'1')" text-wrap>
            <p><small>{{item.K3_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(i+'2')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'2') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Disiplin
            <ion-badge item-end>{{item.DIS}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'2')" text-wrap>
            <p><small>{{item.DIS_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(i+'3')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'3') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Produktifitas Kerja
            <ion-badge item-end>{{item.PRK}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'3')" text-wrap>
            <p><small>{{item.PRK_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(i+'4')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'4') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Kerjasama Tim
            <ion-badge item-end>{{item.TMW}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'4')" text-wrap>
            <p><small>{{item.TMW_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(i+'5')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'5') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Etika/Perilaku
            <ion-badge item-end>{{item.ATT}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'5')" text-wrap>
            <p><small>{{item.ATT_ket}}</small></p>
        </ion-item>
        <ion-item (click)="toggleGroup(i+'0')">
            <ion-icon item-start color="success" item-right [name]="isGroupShown(i+'0') ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            <strong>Total</strong>
            <ion-badge item-end>{{item.total}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="isGroupShown(i+'0')" text-wrap>
            <p><small>{{item.total_ket}}</small></p>
        </ion-item>
    </ion-card>

</ion-content>