<!-- -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">

    <ion-list>
        <ion-card>
            <ion-item>
                <ion-icon name="search" item-start class="text-primary"></ion-icon>
                <ion-input type="search" [(ngModel)]="q" (ionChange)="searchTerm()"></ion-input>
            </ion-item>
        </ion-card>
        <ion-card no-margin margin-bottom class="full-width" *ngFor="let user of officerList" (click)="goToForm(user.user_id)">
            <ion-item>
                <h2><strong>{{user.nama}}</strong></h2>
                <h3>{{user.nik}}</h3>
                <h5>Contact Person: {{user.telp}}</h5>
                <button ion-button clear item-end>Detail Rekap</button>
            </ion-item>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- <ion-card no-margin margin-bottom class="full-width">
        <ion-item tappable (click)="choosePlace('from')" class="border-bottom">
            <ion-icon name="search" color="primary" item-left></ion-icon>
            <span>{{ search.name }}</span>
        </ion-item>
        <ion-item>
            <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
            <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date"></ion-datetime>
        </ion-item>
    </ion-card>

    <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doSearch()">
    <ion-icon name="search"></ion-icon> Search
  </button> -->

</ion-content>