<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!-- <ion-title>{{title}}</ion-title> -->
        <ion-searchbar ([ngModel])="terms" *ngIf="!showSearch"></ion-searchbar>
        <ion-buttons end>
        
        <button ion-button tappable (click)="showHideSearch()">
            <ion-icon name="search"></ion-icon>
        </button>
            <!-- <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      Infinity Scroll Example
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-start>
        <img src="{{user.avatar}}">
      </ion-avatar>
      <h2>{{user.first_name}} {{user.last_name}}</h2>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
